
bbox_check/

data_train/

images_010/

output_split/

images_012/

images_011/

images_009/

*.csv

images_001/

images_003/

images_002/

images_004/

images_005/

images_007/

images_006/

images_008/

test_list.txt

train_val_list.txt

*.png

*.pth

*.db

src/mlruns/

src/__pycache__/
